<div>
  <fieldset>
    <legend>Projeto</legend>
    <p>
      <strong>Objetivos do projeto:</strong>
      <%= @project.objective %>.
    </p>
    <p>
      <strong>Tecnologias empregadas:</strong>
      <%= @project.technologies %>.
    </p>
    <p>
      <strong>Tamanho estimado do projeto:</strong>
      <%= @project.size %> homens-hora.
    </p>
  </fieldset>
</div>